version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: local_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: NewStrongPassword123!
      POSTGRES_DB: ai_projects
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
