# Virtual environments
.venv/
venv/
ENV/
env/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.pytest_cache/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter / VS Code backups
.ipynb_checkpoints/
.vscode/

# Docker artifacts
docker/postgres/data/

